<template>
  <div class="field">
    <label class="label">{{this.label}}</label>
    <div class="control">
      <div class="select">
        <select :name="this.name" v-on:blur="sendData($event)" v-model="selected">
          <option disabled value="">{{this.label}}</option>
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
    </div>
  </div>

</template>

<script>

window.formData = [];

export default {
  name: 'form-select',
  props: ['name', 'label', 'options'],
  data () {
    return {
      selected: '',
      form: new Errors()
    }
  },
  methods: {
      sendData ( event, value ) {

        // if we validation is set on this input
        // run the validator
        if(this.validate){
          // push the value to the formData array
          window.formData[this.name] = this.selected;
          // run the validator passing in the validation types
          // and the input value
          if(this.validate){
            window.validated[this.name] = this.form.validateInput(this.validate, this.name, this.selected);
          }

        }


        //window.formData[this.name] = this.selected;
      }
    },
    mounted: function () {
      window.formData[this.name] = '';
    }


}
</script>
