<template>
      <div class="field">
        <label class="label">{{this.label}}</label>
        <div class="control">
          <input type="text"
            value="input"
            class="input"
            v-model="input"
            v-on:blur="processInput"
            :name="this.name"
            :placeholder="this.label"/>
            <span class="help is-danger" v-if="this.form.has(this.name)" v-text="this.form.get(this.name)"></span>
        </div>
      </div>
</template>

<script>

window.formData = [];
window.validated = [];

export default {
  name: 'form-input',
  props: ['name', 'label', 'validate'],
  data () {
    return {
      // variable to hold our input data in
      input: '',
      // setup the Errors() class
      form: new Errors()
    }
  },
  methods: {
    processInput: function() {
      // if we validation is set on this input
      // run the validator
      if(this.validate){
        // push the value to the formData array
        window.formData[this.name] = this.input;
        // run the validator passing in the validation types
        // and the input value
        if(this.validate){
          window.validated[this.name] = this.form.validateInput(this.validate, this.name, this.input);
        }

      }
    },
  },
  mounted: function () {
      // when the component is mounted (DOM loaded - like onDOM Ready Function)
      // create an array key with the input name in so it's ready for us to push
      // data to.
      window.formData[this.name];

      // We always check that the validate property is set before continuing
      // then build an array with the valiation types and set the validation status
      // to false
      if(this.validate){
        window.validated[this.name] = { status: false, validate: this.validate };
      }
  }
}

</script>
